/* Solution is below at the end*/
/* Styling ----------------------------------------*/
* {
    box-sizing: border-box;
    margin: 0;
}
:root {
    --secundary-color: #ffb703;
    --title-color: #2d3142;
    --subtitle-color: #2d3142;
}


/* General styles */
body {
    background-color: #bfc0c0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
}

h2, h1 {
    padding: 10px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    color: var(--subtitle-color);
    font-size: 40px;
    padding-top: 40px;
    padding-left: 30px;
}
a {
    text-decoration: none;
    color: white;
}
ul {
    padding: 0;
}
li {
    list-style-type: none;
    border: 1px solid black;
    margin: 0;
}
main {
    background-color: var(--subtitle-color);
    width: 100%;
}

p {
    color: white;
}
  .option li:hover {
    transition:all ease-in-out 0.2s;
}
  .option li:hover {
       opacity: 50%;
  }

/* Solution -------------------------------------*/

/* General styling*/
.menu {
    background-color: #dbc442;
    width: 15vw;
    height: 100vh;
}
.layout-box {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: #2d3142;
    display: flex;
}
.menu li {
    cursor: pointer;
}

.menu .option .option-title,
.menu .option li {
    min-height: 10vh;
}



/* Dropdown menu*/

.option {
    position: relative;
}

.option ul {
    display: none;
}


.option:hover ul{
    display: block;
}

.option li {
    background-color: #a79321;
}



/*Left --------------------------------*/
#display-left-nav:target ~ .layout-box .menu {
    width: 15vw;
    height: 100vh;
}
#display-left-nav:target ~ .layout-box{
    display: flex;
}

#display-left-nav:target ~ .layout-box .option ul{
    position: absolute;
    top: 0;
    left: 100%;
    width: 15vw;
}

/*Center --------------------------------*/
#display-center-nav:target ~ .layout-box .menu > ul {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    /* gap: 1rem; */
}

#display-center-nav:target ~ .layout-box .menu > ul .multiple-displays {
    order: -1;
    margin-right: 30vh;
}

#display-center-nav:target ~ .layout-box .menu .option > ul {
    position: absolute;
}

#display-center-nav:target ~ .layout-box .menu ul li {
    width: 10vw;
}

#display-center-nav:target ~ .layout-box .menu{
    width: 100vw;
    height: auto;
}
#display-center-nav:target ~ .layout-box{
    display: block;
}


/*Right --------------------------------*/

#display-right-nav:target ~ .layout-box .menu {
    width: 15vw;
    height: 100vh;
}
#display-right-nav:target ~ .layout-box{
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
}

#display-right-nav:target ~ .layout-box .option ul{
    position: absolute;
    top: 0;
    right: 100%;
    width: 15vw;
}



/* Multiple displays menu */
main .multiple-displays {
    position: absolute;
    top: 50%;
    left: 50%;
}

