/* Solution is below at the end*/
/* Styling ----------------------------------------*/
* {
    box-sizing: border-box;
}
:root {
    --star-color: #ffb703;
    --title-color: #2d3142;
    --subtitle-color: #2d3142;
}


/* General styles */
body {
    background-color: #bfc0c0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
}

h2, h1 {
    padding: 10px;
    color: var(--title-color);
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    color: var(--subtitle-color);
    font-size: 40px;
    padding-top: 40px;
    padding-left: 30px;
}
img {
    padding-left: 30px;
}
p {
    padding-left: 30px;
    font-size: 22px;
}

header h1{
    font-size: 60px;    
}

header:not(first-child){
    font-size: 20px;
}

.container {
    background-color: #ffffff;
    height: 700px;
}
.review-container {
    margin: 100px;
    padding-bottom: 100px;
}


/*  ----------------------------------------
--------- Solution ------------
-------------------------------------------*/
#carousel {
    position: relative;
    margin-left: 300px;
    margin-bottom: 100px;;
}

#carousel ul {
    position: absolute;
    overflow: hidden;
    background-color: pink;
    height: 300px;
    width: 500px;
    z-index: 999;
    background-image: url(third.jpg);
    background-size: cover;
}

#carousel li {
    height: 300px;
    width: 500px;
    background-color: #2d3142;
    list-style-type: none;
    position: absolute;
    top: 0;
    left:-500px;
    --duration: 13s;
    --num-slides: 12;
    --total-units: calc(8 + 4*(var(--num-slides)-12))
    color: white;
}


#carousel li:nth-child(1) {
    left:0px;
    animation: first-slide var(--duration) ease-in-out infinite forwards;
}
#carousel li:nth-child(2) {
    animation: my-carousel var(--duration) ease-in-out infinite calc(var(--duration)/48*0) forwards;
}
#carousel li:nth-child(3) {
    animation: my-carousel var(--duration) ease-in-out infinite calc(var(--duration)/48*4) forwards;
}
#carousel li:nth-child(4) {
    animation: my-carousel var(--duration) ease-in-out infinite calc(var(--duration)/48*8) forwards;
}
#carousel li:nth-child(5) {
    animation: my-carousel var(--duration) ease-in-out infinite calc(var(--duration)/48*12) forwards;
}
#carousel li:nth-child(6) {
    animation: my-carousel var(--duration) ease-in-out infinite calc(var(--duration)/48*16) forwards;
}
#carousel li:nth-child(7) {
    animation: my-carousel var(--duration) ease-in-out infinite calc(var(--duration)/48*20) forwards;
}
#carousel li:nth-child(8) {
    animation: my-carousel var(--duration) ease-in-out infinite calc(var(--duration)/48*24) forwards;
}
#carousel li:nth-child(9) {
    animation: my-carousel var(--duration) ease-in-out infinite calc(var(--duration)/48*28) forwards;
}
#carousel li:nth-child(10) {
    animation: my-carousel var(--duration) ease-in-out infinite calc(var(--duration)/48*32) forwards;
}
#carousel li:nth-child(11) {
    animation: my-carousel var(--duration) ease-in-out infinite calc(var(--duration)/48*36) forwards;
}
#carousel li:nth-child(12) {
    animation: my-carousel var(--duration) ease-in-out infinite calc(var(--duration)/48*40) forwards;
}


@keyframes first-slide {
    6.25% {
        transform: translate(0px, 0px);
    }
    8.33% {
        transform: translate(500px, 0px);
    }
    10.416% {
        transform: translate(500px, 300px);
    }
    12.5% {
        transform: translate(-500px, 300px);
    }
    14.583% {
        transform: translate(-500px, 300px);
    }
    16.66% {
        transform: translate(-500px, 0px);
    }
    97.916% {
        transform: translate(-500px, 0px);
    }
    100%{
        transform: translate(0px, 0px);
    }
}

@keyframes my-carousel {
    6.25% {
        transform: translate(0px);
    }
    8.33% {
        transform: translateX(500px);
    }
    14.58% {
        transform: translateX(500px);
    }
    16.66% {
        transform: translateX(1000px);
    }
    100%{
        transform: translateX(1000px);
    }
}

